body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
.top-part {
    height: auto;
}
/*** Header ****/
header {
    display: flex;
    flex-direction: column;
    height: 508px;
    background-image: url("assets/viktoria-sotsugova-NJmER3uhUdk-unsplash\ \(1\).jpg");
    z-index: -1;
    background-size: cover;
    background-color: #023e2d;
    color: #FFFFFF;
    
}
/**** Icons in the Header ****/
.circles{
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .icon{
    width: 20px;
    height: 20px;
    padding: 8px;
  }

.header-Icons {
    display: flex;
    justify-content: flex-end;
    padding-top: 105px;
    padding-right: 37px;
}

.name {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

header p {
    font: Regular 13px/15px Roboto;
    margin-left: 41px;
}

header h6 {
    text-align: left;
    font: Bold 13px/15px Roboto;
    letter-spacing: 0.52px;
    margin-left: 17.8px;
}

header h1 {
    margin: 0 0 0 41px;
    text-align: left;
    font: Bold 40px/49px Montserrat;
    letter-spacing: 0;
    /*color: #FFFFFF;*/
    opacity: 1;
    z-index: 0;
}

.profile-img {
    width: 162px;
    height: 162px;
    background-color: none;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    opacity: 1;
    display: flex;
    align-self: flex-end;
    margin-right: 37px;
    margin-top: 20px;
    margin-left: auto;
    z-index: 1;
    position: relative;
}





/**** Info text / Greet ***/
h3 {
    text-align: center;
    font: Bold 22px/27px Montserrat;
    letter-spacing: 0;
    color:#FFFFFF;
    background: #ae0618 0% 0% no-repeat padding-box;
    opacity: 1;
    width: max-content;
    margin: auto;
    padding: 0.5%;
    
}

.greet {
    background: #F4F4F4;
    z-index: -1;
    position: inherit;
   
}

.greet p {
    height: auto;
    text-align: left;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    padding: 36.5px;
    margin: 0;
}



/**** Tech skills part   ****/
.tech {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 7%;
    text-align: center;
}

.tech h4 {
    text-align: center;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    margin-top: 36.5px;
}



/***** Portfolio part ******/
.projects {
    background: #F4F4F4;
    width: 100%;
    height: auto;
    padding: 7%;
}

.project-Container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 7%;
}

button {
   color: #ae0618;
   font-size: 15px; 
   border-style: none;
   background: none;
}


.one, .two, .three, .four {
    /*border: 1px solid black;*/ /* border to get help during styling */
    width: 300px;
    margin-top: 42px;
}

.project-Text {
    display: flex;
    align-items: baseline;
}

.project-first-word {
    color: #ae0618;
    font: Bold 15px Roboto;

}

.project-Text p {
    font-family: Roboto;
    font-size: 17px;
}

h5 {
    width: fit-content;
    height: 17px;
    font: Roboto;
    font-size: 10px;
    font-weight: 400;
    background: #FDDFE7 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-right: 2px;
}

.technique{
    display: flex;
}

.other-projects-container h3 {
    color: #ae0618;
    font-size: 22px;
    background: none;
}

/***** About  ****/

.about {
    margin-top: 50px;
    width: 100%;
    height: 150px;
    margin: 7%;    
}



/***** Skills  ****/
.skills {
    display: flex;
    flex-direction: column;
    width:100%;
    height: auto;
    background: #F4F4F4;
    padding: 7%;
}

.skill-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 36px;
}

.skills h4 {
    color: #ae0618;
}

.code {
    width: 48.5%;
    height: auto;
   
    /* border: 1px solid black; *****take away later, just for positioning**/
    text-align: center;
}

.code p {
    font: Regular 17px/29px Roboto;
    letter-spacing: 0;
    color: #000000;
}

.toolbox {
    width: 48.5%;
    height: auto;
    margin-left: 5px;
    /*border: 1px solid black; **take away later, just for positioning**/
    text-align: center;
}

.toolbox p {
    font: Regular 17px/29px Roboto;
    letter-spacing: 0;
    color: #000000;
}

.more {
    width: 48.5%;
    height: auto;
   
    /*border: 1px solid black;  **take away later, just for positioning**/
    text-align: center;
}

.more p {
    font: Regular 17px/29px Roboto;
    letter-spacing: 0;
    color: #000000;
}

.upcomming {
    width: 48.5%;
    height: auto;
    margin-right: 5px;
    /*border: 1px solid black; **take away later, just for positioning**/
    text-align: center;
}

.upcomming p {
    font: Regular 17px/29px Roboto;
    letter-spacing: 0;
    color: #000000;
}



/**** Links to Stackoverflow, LinkedIn, Github *****/
.media {
    margin: 7%;
    width: 100%;
}

.media-icons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 7%;
}

.media-icon-circles{
    border: 3px solid #ae0618;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.media-icon {
    width: 20px;
    height: 20px;
    padding: 8px;
}

.media-icon-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ae0618;
}

a {
    text-decoration: none;
}


/*****Footer *****/
footer {
    width: 100%;
    background-color: #f2d3da;
    color: black ;
    opacity: 1;
    padding: 7%;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;   
}
h6 span {
    font-weight: bold;
}

footer a {
    color: black;
}

/********* Media ***********/

@media (min-width: 668px) {
header {
    height: 655px;
    padding: 15%;
}

.header-Icons {
    padding-top: 0px;
}

.circles {
    width: 80px;
    height: 80px;
}

.icon {
    width: 30px;
    height: 30px;
}

header h1 {
    width: fit-content;
    font: Bold Montserrat;
    font-size: 5vw;
    letter-spacing: 0;
    line-height: normal;
    padding-top: 5.5%;
}

header p {
    font-family: Roboto;
    font-size: 1.5vw;
    letter-spacing: 1.12px;
}

header h6 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 1.5vw;
    letter-spacing: 1.12px;
    margin: 0 0 0 17.8px;
}
.name {
    padding-top: 250px;
}


h3 {
    font-family: Montserrat;
    font-size: 200%;
}

header div {
    height: 0px;
}

.profile-img {
    margin-right: 0px;
    width: 300px;
    height: 300px;
    top: 100px;
    position: relative;
 
}


.greet {
    height: auto;
    font-size: 30px;
    padding: 15%;
}  
.greet p {
    font-family: Montserrat;
    font-size: 80%;
    font-weight: 400;
}

.tech {
    margin: 15%;
}

.tech h4 {
    font-family: Montserrat;
    font-size: 120%;
    font-weight: 400;
}

.projects {
    padding:15%;
}

.project-Container {
    padding-top: 7%;
}

.project-Text p {
    font-size: 1.5vw;

}

.one, .two  {
    margin: 1% 1%
}

.three, .four {
    margin: 1%;   
}

.other-projects-container h3 {
font-size: 2.5vw;
}

.about {
    margin:15%;
}

.skills {
    padding:15%;
}

.code, .toolbox, .upcomming, .more {
    width: 32%;
    margin: 0;
}

.media-icon-circles {
    width: 100px;
    height: 100px;
}

.media-icons {
    margin: 7% 20% 0 20%;
}

.media-icon {
    width: 40px;
    height: 40px;   
}

.media-icon-text {
    font: Bold 25px/41px Roboto;
    width: max-content;
    margin: 0 3% 0 3%
}

.media-icon-text h6 {
    margin-top: 15px;
}


footer h6 {
font-family:Montserrat;
font-size: 18px;
}




}






