body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
.top-part {
    width: 100%;
    height: auto;
}
/*** Header ****/
header {
    display: flex;
    flex-direction: column;
    height: 508px;
    background-image: url("assets/adrien-converse-FWhTeWRCeis-unsplash_flip.jpg");
    /* -webkit-transform: rotate(180deg); */
    /* transform: rotate(180deg); */
    /* background-image: url("assets/laura-vinck-Hyu76loQLdk-unsplash.jpg"); */
    z-index: -1;
    background-size: cover;
    background-color: #C1A6AA;
    color: #FFFFFF;
    background-position-y: center;
    
    
}

/**** Icons in the Header ****/
.circles{
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.icon{
    width: 20px;
    height: 20px;
    padding: 8px;
}

.header-Icons {
    display: flex;
    justify-content: flex-end;
    padding-top: 105px;
    position: relative;
}

.name {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

header p {
    font: Regular 13px/15px Roboto;
    margin-left: 41px;
}

header h6 {
    text-align: left;
    font: Bold 13px/15px Roboto;
    letter-spacing: 0.52px;
    margin-left: 17.8px;
}

header h1 {
    margin: 0 0 0 41px;
    text-align: left;
    font: Bold 40px/49px Montserrat;
    letter-spacing: 0;
    opacity: 1;
    z-index: 0;
}

.profile-img {
    width: 162px;
    height: 162px;
    background-color: none;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    opacity: 1;
    display: flex;
    align-self: flex-end;
    margin-right: 37px;
    margin-top: 20px;
    margin-left: auto;
    z-index: 1;
    position: relative;
}




/**** Info text / Greet ***/
h3 {
    text-align: center;
    font: Bold 22px/27px Montserrat;
    letter-spacing: 0;
    color:#FFFFFF;
    background: #a64e9b 0% 0% no-repeat padding-box;
    opacity: 1;
    width: max-content;
    margin: auto;
    padding: 0.5%;
}

.greet {
    background: #e7e7e7;
    z-index: -1;
    position: inherit;
}

.greet p {
    height: auto;
    text-align: left;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    padding: 36.5px;
    margin: 0;
}

.line{
    position: relative;
    top: -10px;
    font-weight: 900;
    color: #a64e9b;;
}

.circle{
    width: 6px;
    height: 6px;
    padding: 5px;
    position: relative;
    margin-right: 5px;
    top: -1px;
    background-color: #a64e9b;
    border-radius: 50%;
    display: inline-block;
}


/**** Tech skills part   ****/
.tech {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 7%;
    text-align: center;
}

.tech h4 {
    text-align: center;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    margin-top: 36.5px;
    line-height: 160%;
}

.tech-word {
    color: #a64e9b;
}



/***** Portfolio part ******/
.projects {
    background: #e7e7e7;
    width: 100%;
    height: auto;
    padding: 7%;
}

.project-Container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 7%;
}

button {
    /* color: #614348; */
    font-size: 15px; 
    border-style: none;
    background: none;
    color: #e81dcf;
    font-weight: 600;
}

.zero, .one, .two, .three, .four {
    /*border: 1px solid black;*/ /* border to get help during styling */
    width: 300px;
    margin-top: 42px;
}

/* .four img {
    width: 298px;
    border: 1px solid #f47775;
    z-index: -1;
} */

.img-container {
    position: relative;
}

h2{
    z-index: 1;
    position: absolute;
    color: white;
    left: 100px;
    top: 74px;
    font-size: 20px;
    text-transform: uppercase;
}

.project-Text {
    display: flex;
    align-items: baseline;
}

.project-first-word {
    /* color: #614348; */
    /* color: #058e50; */
    color: #a64e9b;
    font: Bold 15px Roboto;
}

.project-Text p {
    font-family: Roboto;
    font-size: 17px;
}

h5 {
    width: fit-content;
    height: 17px;
    font: Roboto;
    font-size: 10px;
    font-weight: 400;
    background: #FDDFE7 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-right: 2px;
    padding: 0.5px;
}

.technique{
    display: flex;
    flex-wrap: wrap;
}

.other-projects-container h3 {
    /* color: #a27179; */
    color: #a64e9b;
    font-size: 22px;
    background: none;
}

.other-proj-1 {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.other-projects-description{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.other-proj-1 p {
    font-family: Roboto;
    font-size: 17px;
    margin: 0;
    color: black;
}
.other-proj-btn {
padding-left: 0;
}

/***** About  ****/

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    height: auto;
    margin: 7%;    
    /* padding: 0 16%; */
}
.aboutContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 42px;
}

.about-box {
    display: flex;
    flex-direction: column;
}

.about-title {
    font-family: Roboto;
    font-weight: bold;
    font-size: 15px;
} 

.about-date {
    /* color: #a27179; */
    /* color: #058e50; */
    color: #a64e9b;
}

.about p {
    text-align: left;
    padding-top: 4%;
}


/***** Skills  ****/
.skills {
    display: flex;
    flex-direction: column;
    width:100%;
    height: auto;
    background: #e7e7e7;
    padding: 7%;
}

.skill-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 36px;
}

.skills h4 {
    /* color: #a27179; */
    /* color: #058e50; */
    color: #a64e9b;
}

.code {
    width: 48.5%;
    height: auto;
    /* border: 1px solid black; *****take away later, just for positioning**/
    text-align: center;
}

.code p {
    font: Regular 17px/29px Roboto;
    letter-spacing: 0;
    color: #000000;
}

.toolbox {
    width: 48.5%;
    height: auto;
    margin-left: 5px;
    /*border: 1px solid black; **take away later, just for positioning**/
    text-align: center;
}

.toolbox p {
    font-family: Roboto;
    font-size:  17px;
    letter-spacing: 0;
    color: #000000;
}

.more {
    width: 48.5%;
    height: auto;
   /*border: 1px solid black;  **take away later, just for positioning**/
    text-align: center;
}

.more p {
    font: Regular 17px/29px Roboto;
    letter-spacing: 0;
    color: #000000;
}

.upcomming {
    width: 48.5%;
    height: auto;
    margin-right: 5px;
    /*border: 1px solid black; **take away later, just for positioning**/
    text-align: center;
}

.upcomming p {
    font: Regular 17px/29px Roboto;
    letter-spacing: 0;
    color: #000000;
}



/**** Links to Stackoverflow, LinkedIn, Github *****/
.media {
    margin: 7%;
    width: 100%;
}

.media-icons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 7%;
}

.media-icon-circles{
    /* border: 3px solid #815a60; */
    border: 3px solid #a64e9b;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.media-icon {
    width: 20px;
    height: 20px;
    padding: 8px;
}

.media-icon-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* color: #815a60; */
    color: #a64e9b;
}

a {
    text-decoration: none;
    color: black;
}


/*****Footer *****/
footer {
    width: 100%;
    /* background-color: #C1A6AA; */
    background-color: #4a7964;
    color: black ;
    opacity: 1;
    padding: 7%;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;   
}

h6 span {
    font-weight: 400;
}

footer a {
    color: black;
}

footer h3 {
    background: none;
}

/*********************** Media *************************/

@media (min-width: 668px) {
header {
    height: 200px;
    padding: 22%;
    padding-top: 5%;
}

.header-Icons {
    padding-top: 0px;
}

.circles {
    width: 5vw;
    height: 5vw;
}

.icon {
    width: 2vw;
    height: 2vw;
}

header h1 {
    width: fit-content;
    font: Bold Montserrat;
    font-size: 5vw;
    letter-spacing: 0;
    line-height: normal;
    padding-top: 5.5%;
    margin-left: 0px;
}

header p {
    font-family: Roboto;
    font-size: 1.5vw;
    letter-spacing: 1.12px;
    margin-left: 0px;
}

header h6 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 1.5vw;
    letter-spacing: 1.12px;
    margin: 0 0 0 17.8px;
}

.name {
    padding-top: 50px;
}

h3 {
    font-family: Montserrat;
    font-size: 200%;
}

header div {
    height: 0px;
}

.profile-img {
    margin-right: 0px;
    width: 17vw;
    height: 17vw;
    top: -24px;
    position: relative;
}

.greet {
    height: auto;
    font-size: 30px;
    padding: 8% 22%;
} 

.greet p {
    font-family: Montserrat;
    font-size: 70%;
    font-weight: 400;
}

.tech {
    margin: 8% 22%;
}

.tech h4 {
    font-family: Montserrat;
    font-size: 120%;
    font-weight: 400;
}

.projects {
    padding: 8% 22%;
}

.project-Container {
    padding-top: 7%;
}

.project-Text p {
    font-size: 1.3vw;
    margin-top: 20px;
    color: black;
}
.other-proj-1 p {
    font-size: 1.3vw;
}

/***add zero and so on **/
.zero, .one, .two  {
    margin: 1% 1%;
    width: 26vw;
}

.three, .four {
    margin: 1%;  
    width: 26vw;
}

.projects-img {
    width: 26vw;
    height: 18vw;
}

.project-first-word {
    font-size: 1.2vw; 
}

h5 {
    font-size: 1.1vw;  
    margin: 2px 0.5vw 3px 0;
    height: auto;
}

.other-projects-container h3 {
    font-size: 200%;
}

.other-proj-1 {
    margin: 3% 0 3% 2%;
}

.aboutContainer {
    flex-direction: row;
}

.about {
    margin: 8% 22%;
}

.about-box {
    width: 27vw;
    height: auto;
    margin: 15px;
}

.about-img {
    width: 27vw;
    height: auto;
}

.about p {
    font-size: 1.2vw;
}

.about-title {
    font-size: 22px;
}

.skills {
    padding: 8% 22%;
}

.skills h4 {
    font-size: 1.4vw;
}
.code, .toolbox, .upcomming, .more {
    width: 32%;
    margin: 0;
}

.skill-container p {
    font-size: 1.3vw;
}

.media-icon-circles {
    width: 6vw;
    height: 6vw;
}

.media-icons {
    margin: 7% 22% 0 22%;
}

.media-icon {
    width: 2.5vw;
    height: auto;   
}

.media-icon-text {
   width: 220px;
}

.media-icon-text h6 {
    margin-top: 15px;
    font: Bold 21px Roboto;
    width: max-content;
    margin: 8% 3% 0 3%
}

h6 span {
    font-weight: 400;
}

footer h6 {
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.6;
}




}






